<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.reanny.halaal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="id.reanny.halaal.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="id.reanny.halaal.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Mystyle" >

        <!-- Activity umum -->
        <activity
            android:name="id.reanny.halaal.MainActivity"
            android:label="Menu Navigasi" >
        </activity>
        <activity
            android:name="id.reanny.halaal.MenuUtama"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="id.reanny.halaal.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity SPK -->
        <activity
            android:name="id.reanny.halaal.spk.MainForm"
            android:label="@string/title_activity_main_form" >
        </activity>
        <activity
            android:name="id.reanny.halaal.spk.HasilForm"
            android:label="@string/title_activity_hasil_form" >
        </activity>
        <activity
            android:name="id.reanny.halaal.spk.HasilDetail"
            android:label="@string/title_activity_hasil_form" >
        </activity>

        <!-- Activity Berita -->
        <activity
            android:name="id.reanny.halaal.berita.LokoUtama"
            android:label="Berita Kuliner" >
        </activity>
        <activity
            android:name="id.reanny.halaal.berita.DetailLoko"
            android:label="Berita Kuliner" >
        </activity>

        <!-- Activity Tentang -->
        <activity
            android:name="id.reanny.halaal.tentang.Tentang"
            android:label="@string/title_activity_tentang" >
        </activity>

        <!-- Meta Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC6Uh6dTGA8-1hoVq9Jt0qMUg9p_26Q4cQ" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="id.reanny.halaal.hubungikami.HubungiKami"
            android:label="@string/title_activity_hubungi_kami" >
        </activity>
        <activity
            android:name="id.reanny.halaal.berita.PraBerita"
            android:label="@string/title_activity_pra_berita" >
        </activity>
    </application>

</manifest>